
*.editorconfig

*.vsidx

*.exe

ODataBookStore/.vs/ODataBookStore/v17/.suo

*.cache

*.props

ODataBookStore/ODataBookStore/appsettings.Development.json

ODataBookStore/ODataBookStore/bin/Debug/net6.0/appsettings.Development.json

ODataBookStore/ODataBookStore/bin/Debug/net6.0/ODataBookStore.deps.json

ODataBookStore/ODataBookStore/bin/Debug/net6.0/ODataBookStore.runtimeconfig.json

ODataBookStore/ODataBookStore/obj/Debug/net6.0/project.razor.vs.json

ODataBookStore/ODataBookStore/obj/Debug/net6.0/staticwebassets.build.json

ODataBookStore/ODataBookStore/obj/ODataBookStore.csproj.nuget.dgspec.json

ODataBookStore/ODataBookStore/obj/project.assets.json

ODataBookStore/ODataBookStoreWebClient/appsettings.Development.json

ODataBookStore/ODataBookStoreWebClient/bin/Debug/net6.0/appsettings.Development.json

ODataBookStore/ODataBookStoreWebClient/bin/Debug/net6.0/ODataBookStore.deps.json

ODataBookStore/ODataBookStoreWebClient/bin/Debug/net6.0/ODataBookStore.runtimeconfig.json

ODataBookStore/ODataBookStoreWebClient/bin/Debug/net6.0/ODataBookStoreWebClient.deps.json

ODataBookStore/ODataBookStoreWebClient/bin/Debug/net6.0/ODataBookStoreWebClient.runtimeconfig.json

ODataBookStore/ODataBookStoreWebClient/bin/Debug/net6.0/ODataBookStoreWebClient.staticwebassets.runtime.json

ODataBookStore/ODataBookStoreWebClient/obj/Debug/net6.0/project.razor.vs.json

ODataBookStore/ODataBookStoreWebClient/obj/Debug/net6.0/staticwebassets.build.json

ODataBookStore/ODataBookStoreWebClient/obj/Debug/net6.0/staticwebassets.development.json

ODataBookStore/ODataBookStoreWebClient/obj/Debug/net6.0/staticwebassets.pack.json

ODataBookStore/ODataBookStoreWebClient/obj/ODataBookStoreWebClient.csproj.nuget.dgspec.json

ODataBookStore/ODataBookStoreWebClient/obj/project.assets.json
